.container{
  background-color: white;
  border-bottom: 1px solid #f0f0f0;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  a {
    color: #1d1d1d;
    &:hover {
      color: #1777ff;
    }
  }
}
